<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIApplicationSceneManifest</key>
	<dict>
		<key>UIApplicationSupportsMultipleScenes</key>
		<false/>
	</dict>
	<key>pathKey</key>
	<string>./Resource/data.json</string>
	<key>ImageURlKey</key>
	<string>https://www.arcblock.io/blog/uploads</string>
	<key>requestURLKey</key>
	<string>https://www.arcblock.io/content/api/blogs</string>
	<key>detailURLKey</key>
	<string>https://www.arcblock.io/blog/zh/</string>
</dict>
</plist>
